@font-face {
  font-family: "Inter web italic";
  src: url("./inter-web-italic-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter web italic";
  src: url("./inter-web-italic-600-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter var";
  src: url("./inter-var-100-900.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter web";
  src: url("./inter-web-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter web";
  src: url("./inter-web-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter web";
  src: url("./inter-web-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
