@font-face {
  font-family: "Apercu";
  src: url("./apercu-200-300.woff2") format("woff2");
  font-weight: 200 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-200-300-italic.woff2") format("woff2");
  font-weight: 200 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-500-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-600-700-bold.woff2") format("woff2");
  font-weight: 600 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Apercu";
  src: url("./apercu-600-700-italic.woff2") format("woff2");
  font-weight: 600 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Apercu Mono";
  src: url("./apercu-mono-400-500.woff2") format("woff2");
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}
