@font-face {
  font-family: "Roboto-Bold";
  src: url("./roboto-bold-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-1EF9,U+2013-204A;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./roboto-medium-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-1EF9,U+2013-204A;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./roboto-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-1EF9,U+2013-204A;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./sf-pro-display-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./sf-pro-display-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./sf-pro-display-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./sf-pro-display-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFD-Bold";
  src: url("./sfd-bold-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFD-Bold";
  src: url("./sfd-bold-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFD-Medium";
  src: url("./sfd-medium-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFD-Medium";
  src: url("./sfd-medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
