
    @font-face { font-family: 'SFD-Heavy'; font-display: swap; src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot'); src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg'); }
    @font-face { font-family: 'SFD-SemiBold'; font-display: swap; src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot'); src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg'); }
    @font-face { font-family: 'SFD-Bold'; font-display: swap; src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot'); src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg'); }
    @font-face { font-family: 'SFD-Light'; font-display: swap; src: url('https://kenh14cdn.com/web_font/SFD-Light.eot'); src: url('https://kenh14cdn.com/web_font/SFD-Light.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Light.woff2'), url('https://kenh14cdn.com/web_font/SFD-Light.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Light.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Light.svg#SFD-Light') format('svg'); }
    @font-face { font-family: 'SFD-Medium'; font-display: swap; src: url('https://kenh14cdn.com/web_font/SFD-Medium.eot'); src: url('https://kenh14cdn.com/web_font/SFD-Medium.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Medium.woff2'), url('https://kenh14cdn.com/web_font/SFD-Medium.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Medium.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Medium.svg#SFD-Medium') format('svg'); }

    .kenh14-wrapper.xml .kenh14-header-wrapper .khw-top-header {
        padding-top: 10px;
        margin-top: 0 !important;
    }


        html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;font-family:Arial,Helvetica,sans-serif;-webkit-font-smoothing:antialiased}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.fl{float:left}.fr{float:right}.mt-20{margin-top:20px}img{color:transparent}a{text-decoration:none}.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.sprite{background:url("https://kenh14cdn.com/web_images/sprite-k14.20.png");background-repeat:no-repeat}.w1040{width:1040px;margin:0 auto}.w720{width:720px}.w700{width:700px}.w300{width:300px}img{image-rendering:-webkit-optimize-contrast}.kenh14-wrapper{display:block;position:relative;min-width:1120px}.kenh14-header-wrapper{display:block;position:relative}.khw-top-header{background:#f0a52b;height:70px;position:relative;z-index:1}.khw-top-header .w1040{position:relative}.kwtm-toogle{text-align:center;position:absolute;top:19px;right:0}.kwtm-logo{background-position:0 0;width:200px;height:60px;position:absolute;top:7px;left:0;text-decoration:none;background:url(https://kenh14cdn.com/web_images/k14_logo2022.svg) no-repeat !important;background-size:auto 60px !important}.khw-bottom-header{background:#a70e1a;height:40px;position:relative}.kmli{float:left;position:relative;white-space:nowrap}.kmli>a{font-size:15px;color:#fff;padding:0 6px;display:block;text-decoration:none;line-height:40px;position:relative;font-family:SFD-Medium}.kmli.home{padding:0 12px}.kmli.home>a{width:12px;padding:0;background:url('https://kenh14cdn.com/web_images/sprite-k14.20.png') -494px 12px no-repeat;text-indent:-99999px;overflow:hidden}.kmli.expand-icon{padding:0 12px;position:inherit}.kmli.expand-icon>a{background:url('https://kenh14cdn.com/web_images/sprite-k14.20.png') -319px -104px no-repeat;width:20px;padding:0}.kmli:first-of-type>a{padding-left:0}.kbh-menu-list{display:block;height:40px;display:flex}.khw-adk14-wrapper{height:250px;background:#f1f1f1;padding:20px 0;width:100%;display:block;text-align:center}.kbw-content{margin-top:35px;display:block}.kbwcb-left{border-top:1px solid #e4e4e4;position:relative;padding-top:25px}.kbwcb-left:before{background:url("https://kenh14cdn.com/web_images/grd-border.png") top right repeat-y;content:'';position:absolute;top:0;right:-20px;width:20px;height:100%;z-index:-1}.kbwcb-left-wrapper{display:block;padding-right:20px;position:relative}.kscli,.knswli{padding:25px 0;border-bottom:1px solid #ebebeb;list-style:none}.kscliw-ava{display:block;overflow:hidden;position:relative;padding-top:62.5%;background-size:cover;background-position:center top;background-repeat:no-repeat}.kscliw-ava video{width:100%;height:auto;position:absolute;top:0;left:50%;transform:translateX(-50%)}.kscliw-right,.knswli-right{margin-left:270px}.kscliw-title a,.knswli-title a{font-family:SFD-Bold;font-size:20px;line-height:26px;color:#333;text-decoration:none;display:block;margin-bottom:10px;margin-top:-5px}.kscliw-sapo,.knswli-sapo{font-size:13px;font-family:Arial;color:#4d4d4d;line-height:18px;display:block}.knswli-left{width:250px}.knswli-meta{margin-bottom:13px}.knswli-time{position:relative;font-family:SFD-Medium;font-size:14px;color:#777}.knswli-category{font-family:SFD-SemiBold;font-size:14px;color:#41455e;text-decoration:none}.knswli-facebook,.knswli-comment,.knswli-view{margin:5px 0;font-size:12px;color:#888;position:relative}.knswli-relate-wrap{padding-left:15px;display:block;padding-top:5px}.knswli-relate{text-decoration:none;color:#41455e;font-size:13px;line-height:18px;font-family:Arial;position:relative;font-weight:bold}.knswli-relate:before{width:5px;height:5px;border-radius:100%;background:#fb6c27;content:'';position:absolute;top:5px;left:-15px}.knswli-object-wrapper{padding:20px 0 20px 0}.knswli.light .knswli-object-wrapper{background:#f5f5f5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #e6e6e6}.knswli.dark .knswli-object-wrapper{position:relative;background:#222;border-top:5px solid #fb6c27}.knswli-object-content{position:relative;overflow:hidden}.knswli.dark .knswli-object-wrapper:before{display:block;position:absolute;width:10%;bottom:0;right:0;height:100%;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0%,#222 100%);background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,#222 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,#222 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ab000000',GradientType=1);content:'';z-index:3}.knswli.dark.video .knswli-object-wrapper:before{display:none}.knswli .knswli-object-title{font-family:SFD-Heavy;font-size:28px;margin-left:60px;color:#fff;text-transform:uppercase;position:relative;margin-bottom:22px}.knswli.light .knswli-object-title{color:#222;margin-left:65px;margin-bottom:18px}.knswli.trend .icon{background-position:-213px 0;width:33px;height:22px;position:absolute;top:4px;left:-45px;display:block}.koli{width:260px;margin-left:20px;float:left;position:relative;background:#fff;overflow:hidden;border-radius:3px}.knswli.light .koli{border:1px solid #e6e6e6;box-shadow:0 1px 5px 0 rgba(0,0,0,.05)}.koli-ava{display:block;width:260px;height:165px;margin-bottom:5px;position:relative}.koli-ava img{width:100%;display:block}.koli-title{padding:0 12px 20px}.koli-title a{color:#333;font-family:SFD-Bold;font-size:18px;line-height:20px;text-decoration:none;display:block}.swiper-pagination-bullet-active{background:#fb512a !important}.knswli.video .knswli-object-wrapper{padding:0;border:0;width:100% !important;margin-left:0 !important}.knswli-video-wrapper{padding:20px 0 30px}.koli-stats{display:block;width:100%;height:35px;position:absolute;bottom:2px;left:0;background:rgba(0,0,0,.8)}.koli-stats span{margin-top:10px;position:relative;font-size:15px;color:#fff;line-height:35px;font-family:Arial;margin-left:40px}.koli-stats.view span:before{display:block;width:24px;height:24px;background:url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -245px -145px no-repeat;position:absolute;top:-4px;left:-30px;content:''}.koli-count{margin-right:5px}.swiper-button-next,.swiper-button-prev{position:absolute;top:52px;width:35px;height:95px;z-index:10;cursor:pointer}.swiper-button-next{background:url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -115px -137px no-repeat;background-color:rgba(251,108,39,.9);border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px}.swiper-button-prev{background:url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -70px -137px no-repeat;background-color:rgba(251,108,39,.9);border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:0}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:0}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{display:none}.knswli-object-wrapper .swiper-container-horizontal>.swiper-pagination-bullets{bottom:0}.trend .swiper-button-next,.trend .swiper-button-prev{top:40px}.swiper-pagination{position:relative;margin-top:15px;bottom:0 !important}.swiper-pagination-bullet{margin:0 8px !important;cursor:pointer}.kscliw-ava video{width:100%;height:auto;position:absolute;top:0;left:50%;transform:translateX(-50%)}.koli-ava video,.klwcngl-thumb video,.klwfnswn-thumb video{width:100%;height:auto;display:block}.VCSortableInPreviewMode{text-align:center;width:100%;margin-bottom:35px}.klwfn-left{width:460px}.klwfn-right{width:220px}.klwfnl-thumb{display:block;width:460px;height:289px;margin-bottom:10px;position:relative}.klwfnl-thumb img{display:block;width:460px;height:289px}.klwfnl-title a{font-family:SFD-Bold;font-size:26px;line-height:30px;color:#222;text-decoration:none;transition:color .3s;-webkit-transition:color .3s;-moz-transition:color .3s}.klwfnl-sapo{font-size:14px;line-height:20px;color:#444;margin:10px 0}.klwfnr-thumb,.klwfnr-thumb img{display:block;width:220px;height:289px;position:relative}.klwfnr-title a{display:block;padding:12px 15px 20px;background-image:linear-gradient(#ebebeb,#fff);font-family:SFD-Bold;font-size:19px;line-height:22px;color:#222;text-decoration:none;transition:color .3s;-webkit-transition:color .3s;-moz-transition:color .3s}.klwfn-slide-wrapper{position:relative;margin-top:30px;width:720px;overflow:hidden}.klwfnswn{width:250px;margin-right:20px}.klwfnswn-thumb{display:block;width:250px;height:156px;margin-bottom:8px;position:relative}.klwfnswn-thumb img{display:block;width:250px;height:156px}.klwfnswn-title a{font-family:SFD-Bold;font-size:17px;line-height:22px;color:#2d2d2d;transition:color .3s;-webkit-transition:color .3s;-moz-transition:color .3s;text-decoration:none}.klw-featured-news{padding-bottom:30px;border-bottom:3px solid #ff5e34}.k14-home .knswli.dark.video{border-bottom:none;position:relative}.knswli .knswli-object-wrapper{width:700px;float:left}.backto_school-decumar{width:308px;float:right;position:relative;border:1px solid #f0e7d3;border-radius:5px;background-color:#fcfaf4}.trend .featuredcn{display:flex;justify-content:space-between}.trend .knswli-object-wrapper{margin:0}.flx-trendAd-crsk14{display:flex;justify-content:space-between}.crsk14{width:320px !important}.editor-pick-onstream .editor-pick-header{display:flex;align-items:center;margin-bottom:15px}.editor-pick-onstream .ep-header-icon{margin-right:10px}.editor-pick-onstream .ep-header-text{font-family:SFD-Bold;font-size:24px;color:#333;text-transform:uppercase}.editor-pick-onstream .editor-pick-news{display:flex}.editor-pick-onstream .ep-news-big{width:57%;padding-right:25px;margin-right:25px;border-right:1px solid #e5e5e5;flex-shrink:0}.editor-pick-onstream .ep-news-small{flex-grow:1}.editor-pick-onstream .ep-news-small-li{margin-bottom:20px}.editor-pick-onstream .ep-news-small-li:last-child{margin-bottom:0}.editor-pick-onstream .ep-news-big-ava{margin-bottom:15px}.editor-pick-onstream .ep-news-small-ava{margin-bottom:10px}.editor-pick-onstream .ep-news-small-title a{font-family:SFD-Bold;font-size:16px;line-height:130%;color:#333;text-decoration:none}.category .kbwcb-left{padding-top:0;border-top:0}.category .kbwc-body{margin-top:0}.category .kbw-content{margin-top:0}.category .w300{padding-top:20px}.hidden{display:none!important}.k14h-sprite{background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat}.kfa-list-footer-menu{text-align:center;padding:10px 0;margin-bottom:30px}.footer-bottom .col-title,.footer-bottom .col-title a{font-size:14px;font-weight:bold;color:#555;text-transform:uppercase;margin-bottom:8px;padding-left:0 !important;text-decoration:none}.kfa-list-footer-menu .kfa-footer-menu{display:inline}.kfa-list-footer-menu .kfa-footer-menu a{font-size:12px;font-weight:bold;color:#4a4a4a;text-decoration:none}.kfa-list-footer-menu .kfa-footer-menu:before{content:'|';color:#a1a1a1;font-size:12px;margin:0 2px}.kfa-list-footer-menu .kfa-footer-menu:first-child:before{display:none}.new-footer .top-footer{border:1px solid #595959;padding:15px 20px;background:#fff;margin-bottom:30px}.k14-footer-logo{display:block;width:60px;height:90px;background-position:-187px -90px;margin-right:20px;float:left}.top-footer .group-title{font-size:16px;font-weight:bold;line-height:20px;color:#555;text-transform:uppercase}.top-footer p{font-size:12px;line-height:18px;color:#595959}.user-response{float:left}.btn-faq-popup{display:inline-block;height:24px;padding:0 6px 0 28px;border:1px solid #e7e7e7;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;margin-top:3px;font-size:11px;font-weight:bold;color:#333;line-height:24px;text-transform:uppercase;text-decoration:none;margin-right:12px;margin-bottom:5px;position:relative}.btn-faq-popup:before{display:block;width:15px;height:15px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-257px -119px;content:'';position:absolute;top:5px;left:6px}.faq-mail{display:inline-block;padding-left:20px;font-size:13px;color:#333;text-decoration:none;position:relative}.faq-mail:before{display:block;width:13px;height:9px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-282px -119px;content:'';position:absolute;top:2px;left:0}.footer-col{float:left;padding:0 25px;border-left:1px solid #e7e7e7;width:280px}.footer-bottom .footer-col:first-of-type{padding-left:0;border-left:none}.footer-bottom .footer-col:last-of-type{padding-right:0}.footer-bottom .footer-col:first-of-type,.footer-bottom .footer-col:last-of-type{width:310px}.footer-bottom .col-title{font-size:14px;font-weight:bold;color:#555;text-transform:uppercase;margin-bottom:8px}.k14-address{margin-bottom:35px}.footer-bottom p{font-size:13px;line-height:18px;color:#595959}.btn-view-map{display:block;height:15px;padding-left:15px;font-size:10px;font-weight:bold;color:#595959;line-height:14px;text-transform:uppercase;text-decoration:none;margin-top:8px;position:relative}.btn-view-map:before{display:block;width:9px;height:13px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-257px -167px;content:'';position:absolute;top:0;left:0}.associate{margin-bottom:18px}.associate p{padding-left:20px}.pl0{padding-left:0 !important}.associate .phone-footer,.associate .admicro-phone-footer{position:relative}.associate .phone-footer:before{display:block;width:8px;height:15px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-366px -90px;content:'';position:absolute;top:0;left:0}.associate .associate-mail{display:block;padding-left:20px;height:15px;margin-top:5px;font-size:13px;line-height:15px;color:#595959;text-decoration:none;position:relative}.associate .associate-mail:before{width:13px;height:9px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-305px -119px;content:'';position:absolute;top:4px;left:0}.btn-associate-lightbox{display:inline-block;margin-top:15px;height:24px;padding:0 15px;background:#9d2306;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;line-height:24px;text-transform:uppercase;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}.vccorp-footer-logo{display:block;width:103px;height:23px;margin-bottom:15px;background-image:url('https://kenh14cdn.com/web_images/k14h-sprite_v1.png');background-repeat:no-repeat;background-position:-328px -119px}.footer-bottom .footer-col:last-of-type .col-title{margin-bottom:15px}.footer-bottom .footer-col:last-of-type p{margin-bottom:15px}.kfa-footer-menu{background:#e9e9e9}.footer-bottom .footer-col:last-of-type .col-title span{font-weight:normal;text-transform:none}.new-footer .top-footer{width:480px;height:98px;box-sizing:initial}.btn-messenger-lightbox{display:inline-flex;margin-top:15px;height:24px;padding:0 15px;background:#0050bd;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;line-height:24px;text-transform:uppercase;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;margin-right:10px}.btn-messenger-lightbox .messenger-icon{display:block;margin-right:5px;width:12px;flex-shrink:0;margin-top:2px}button{background:none;border:0;box-sizing:content-box;color:inherit;cursor:pointer;font:inherit;line-height:inherit;overflow:visible;vertical-align:inherit}.knswlic-welax .VCSortableInPreviewMode{margin-bottom:0}.knswli-left{width:250px}.fl{float:left}.knswli-category{font-family:SFD-SemiBold;font-size:14px;color:#41455e;text-decoration:none}.knswli-time{position:relative;font-family:SFD-Medium;font-size:14px;color:#777}.knswli-meta{margin-bottom:13px}.knswli-left{width:250px}.kscliw-sapo,.knswli-sapo{font-size:13px;font-family:Arial;color:#4d4d4d;line-height:18px;display:block}.toolbar-search-wrapper{height:25px;border-left:1px solid rgba(255,255,255,.1);border-right:1px solid rgba(255,255,255,.1)}.toolbar-search-wrapper #searchinput{height:25px;border:none;background-color:transparent;box-sizing:border-box;padding:0 6px;font-size:10px;color:#8a8a8a;width:154px;outline:none;float:left;line-height:25px}.t-search-submit-btn{display:block;height:25px;float:right;padding:4px 6px;box-sizing:border-box}.header-kinglive-status{padding:10px 0;height:50px}.knswli .knswli-object-title{font-size:24px}.knswli-object-wrapper{padding-top:15px}#searchinput:empty:not(:focus)::before{content:attr(data-placeholder)}.kenh14-toolbar-wrapper{background:#111;height:25px;position:relative;z-index:1}.k14ti{display:inline-block}.k14ti a{font-family:SFD-Semibold;font-size:12px;line-height:25px;color:#fff;text-transform:uppercase;text-decoration:none;color:#fff;display:block;padding:0 8px}.kbh-menu-list{margin-left:5px}.kmli-menu-expand-wrapper{background:#fff;box-shadow:0 30px 80px rgba(0,0,0,.2);position:absolute;top:40px;left:0;z-index:9999;visibility:hidden;opacity:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s}.list-other-cat-col{padding:20px 0 10px;border-bottom:1px solid #eaeaea}.occ{width:160px;float:left;margin-right:10px}.occ-name a{font-family:SFD-Semibold;font-size:16px;color:#333;text-decoration:none;display:block;margin-bottom:10px;padding-left:6px;border-left:3px solid #ff6610;height:12px;line-height:12px;background-color:transparent !important}.list-occs .occs{margin-bottom:10px}.list-occs .occs a{font-size:13px;color:#666;text-decoration:none;background-color:transparent !important}.kmew-topics-wrapper{padding:20px 0;border-bottom:1px solid #eaeaea}.kmewtw-label{height:20px;padding-left:26px;font-family:SFD-Semibold;font-size:20px;line-height:20px;color:#333;position:relative}.kmewtw-label:before{display:block;width:14px;height:20px;background:url(https://kenh14cdn.com/web_images/sprite-k14.20.png) -384px -124px no-repeat;position:absolute;top:0;left:0;content:''}.kmewt{width:190px;height:40px;float:left;margin-right:20px;margin-top:20px}.kmewt a{display:block;width:190px;height:40px;position:relative;overflow:hidden;text-decoration:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}.kmewt a img{display:block;width:100%;margin-left:0;margin-top:0;-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px)}.kmewt a span{padding:0 12px;height:40px;position:absolute;bottom:0;left:0;right:0;font-family:SFD-Medium;font-size:17px;line-height:40px;color:#fff;background:rgba(0,0,0,.2)}.kmew-other-links{padding:20px 0}.kmewol-group{margin-right:30px;float:left}.kmewolg-label,.kmewolg-label a{font-family:SFD-Semibold;font-size:15px;color:#333;text-decoration:none;background-color:transparent !important}.kmewolgi{display:inline;margin-left:10px}.kmewolgi a{font-size:13px;color:#666;text-decoration:none;background-color:transparent !important}.kmewolg-label,.list-kmewolgi{float:left}.khwth-trending-wrapper{height:30px;position:absolute;top:18px;left:230px;padding-left:30px}.khwth-trending-wrapper:before{display:block;width:19px;height:12px;background:url(https://kenh14cdn.com/web_images/sprite-k14.20.png) -388px -55px no-repeat;position:absolute;top:10px;left:0;content:''}.khwtht{float:left;margin-right:10px}.khwtht a{display:block;height:28px;padding:0 15px;font-family:SFD-Medium;font-size:14px;line-height:28px;color:#fff;text-decoration:none;border:1px solid rgba(255,255,255,.5);border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;transition:border .3s;-webkit-transition:border .3s;-moz-transition:border .3s;background:rgba(0,0,0,.02)}.list-k14-toolbar-items .k14ti.top-toolbar a{padding-left:20px;background-image:url(https://kenh14cdn.com/web_images/toolbar-topic-icon.png);background-position:left 6px center;background-repeat:no-repeat}.kbwc-body{position:relative}.kmli.expand-icon{cursor:pointer;height:100%}.kmli.expand-icon a span.eiline{display:block;width:4px;height:4px;background:#fff;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;visibility:visible;opacity:1;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;position:absolute;top:18px}.kmli.expand-icon a span.ei-line1{left:0}.kmli.expand-icon a span.ei-line2{left:8px}.kmli.expand-icon a span.ei-line3{right:0}.trendAd-wrapper{background:#fff;padding:25px 0;position:relative;margin-top:-1px}.trendAd-wrapper:before{content:'';background:#e8e8e8;top:0;left:0;width:100%;height:1px;position:absolute}.trendAd-wrapper:after{content:'';background:#e8e8e8;bottom:0;left:0;width:100%;height:1px;position:absolute}.trendAd-left{background-color:#2b2b2b;border-radius:3px}.trendAd-right{width:450px;float:right}.trendAd{padding:0;border:none}#k14-main-menu-wrapper-sticky-wrapper{position:relative;z-index:9999}.occ.r1,.occ.r2{margin-bottom:20px}.klw-detail-stream,.knswli.dark.video{position:relative}.khwth-trending-wrapper .khwtht a:before{content:'#'}.knswli-readmore{padding-top:12px;margin-top:15px;border-top:1px dotted #d6d6d6}.knswli-readmore .readmore-label{font-size:11px;color:#888;display:block;margin-bottom:8px}.knswli-readmore .readmore-list-news .readmore-news{margin-bottom:8px;position:relative}.knswli-readmore .readmore-list-news .readmore-news .readmore-news-link{font-family:SFD-Bold;font-size:14px;line-height:20px;color:#41455e;display:-webkit-box}.knswli-readmore .readmore-list-news .readmore-news:before{display:block;width:4px;height:4px;content:'';background-color:#ff5e34;border-radius:100%;float:left;margin-top:8px;margin-right:9px}.knswli-readmore .readmore-list-news .readmore-news .readmore-news-link i{font-size:13px;color:#888;font-family:SFD-Medium}.knswli-readmore .readmore-list-news .readmore-news .readmore-news-link i:before{content:' . ';margin-left:3px;margin-right:3px;position:relative;top:-4px}.khw-adk14-wrapper{height:auto;padding-top:15px;padding-bottom:15px}.kbwcb-left{z-index:0}.swiper-container-horizontal ul{transition:all .5s !important;-webkit-transition:all .5s !important;-moz-transition:all .5s !important}.swiper-button-prev{left:-35px;*transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:0}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{background-color:#333 !important;width:35px;opacity:.8;display:block;pointer-events:all}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.koli-title a{font-size:17px !important;line-height:22px !important}.koli:last-child{margin-right:20px}.VCSortableInPreviewMode{margin-bottom:30px}.kenh14-wrapper{overflow:hidden}.knswli-relate{display:inline-block}.knswli.dark .knswli-object-wrapper:before{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}.sticker{position:absolute;top:-20px;left:-20px;width:54px;height:54px;z-index:1}.pos-rlt{position:relative}.k14topic-sapo{float:left;margin-right:10px;margin-top:2px;position:relative;font-family:Arial !important;cursor:pointer}.knswli-right .k14topic-sapo{float:none;padding-bottom:10px}.k14topic-sapo .k14topic-logo{display:block;cursor:pointer;height:18px}.k14topic-sapo .k14topic-logo img{height:18px}.brand-content.k14topic-sapo{float:none;margin-bottom:5px}.stream.brand-content .k14topic-logo,.brand-content .k14topic-logo img{height:20px !important;border-radius:4px}.klwfnl-title a,.klwfnr-title a,.klwfnswn-title a{font-family:SFD-Bold;font-weight:normal;letter-spacing:0}.knswlic-welax .VCSortableInPreviewMode>div{width:100% !important;height:100% !important;position:absolute;top:0;left:0}.verticalThumb .kscliw-ava{padding-top:131.82%}#admzone49{min-height:90px}#admzone50{min-height:600px}.knswli.dark .knswli-object-wrapper{background-color:transparent}.k14-videoUpdate .k14-videoUpdate-wrapper{display:flex;justify-content:space-between}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-left{width:320px}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-left .content-video .VCSortableInPreviewMode[type="VideoStream"]{padding-top:125%;position:relative;margin-bottom:0}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-left .content-video .VCSortableInPreviewMode[type="VideoStream"] .videoNewsPlayer{position:absolute;top:0;left:0;width:100%;height:100% !important;background:#f1f1f1 !important}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right{width:360px}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info{display:flex;flex-direction:column;height:100%}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-heading{display:flex;align-items:center;margin-bottom:10px}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-heading .ih-time{font-size:13px;line-height:150%;font-family:Arial;font-weight:400;color:#888}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content{display:flex;flex-direction:column;justify-content:space-between;height:100%}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-top{display:flex;flex-direction:column}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-top .ict-title{font-size:20px;line-height:24px;font-family:SFD-Bold;color:#333;margin-bottom:5px}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-top .ict-des{display:flex}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-top .ict-des .ictd-txt{font-size:13px;line-height:150%;font-family:Arial;font-weight:400;color:#888}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-top .ict-des .ictd-txt .ictd-link{font-weight:700;color:#4d4d4d}.k14-videoUpdate .k14-videoUpdate-wrapper .videoUpdate-right .vr-content_info .info-content .ic-bottom{display:flex;flex-direction:column}.k14-videoUpdate .k14-videoUpdate-wrapper.horizonVid .videoUpdate-left{width:500px;flex-shrink:0;margin-right:15px}.k14-videoUpdate .k14-videoUpdate-wrapper.horizonVid .videoUpdate-left .content-video .VCSortableInPreviewMode[type=VideoStream]{padding-top:56.4%}.k14-videoUpdate .k14-videoUpdate-wrapper.horizonVid .videoUpdate-right .vr-content_info .info-content .ic-bottom{display:none}.k14-videoUpdate .k14-videoUpdate-wrapper.horizonVid .videoUpdate-right .vr-content_info .info-content .ic-top .ict-title{font-size:18px}.k14-videoUpdate .k14-videoUpdate-wrapper.horizonVid .videoUpdate-right .vr-content_info .info-content .ic-top .ict-des .ictd-txt{-webkit-line-clamp:5;-webkit-box-orient:vertical;display:-webkit-box;overflow:hidden}.trendAd-left{display:none}.trendAd-right{max-height:710px !important}.titledecumar-video{font:normal 15px/19px SFD-Bold;color:#fff;position:absolute;display:block;top:0;background:linear-gradient(180deg,#000 0%,rgba(0,0,0,0) 100%);z-index:9;padding:15px 15px 50px;transform:scaleY(1);transform-origin:top;transition:transform .26s ease}#liNewsMostView.knswli{border-bottom:none;padding-bottom:0}.vccorp-footer-logo{background-image:none;background-position:0;width:100px;height:49px}.brand-content.k14topic-sapo{margin-bottom:2px}video.lozad-video{width:100%;height:100%;object-fit:cover}
    

        .kds-new-stream-wrapper .klwfnl-title a {
            font-family: SFD-Bold;
            font-size: 20px;
            line-height: 26px;
            color: #333;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            margin-top: -5px;
        }
         [data-trimline]{
             display: block;
         }
        .knswli-readmore .knswli-relate i {
            font-size: 13px;
            color: #888;
            font-family: SFD-Medium;
            font: inherit;
        }
        .knswli-readmore .knswli-relate i:before {
            content: ' . ';
            margin-left: 3px;
            margin-right: 3px;
            position: relative;
            top: -4px;
        }
    

        .btn-messenger-lightbox:hover {
            background-color: #047bea;
        }

        .btn-messenger-lightbox {
            display: inline-flex;
            background: #0084ff;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            margin-right: 10px;
        }

        .btn-associate-lightbox {
            display: inline-block;
            background: #fa5d37;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
        }

        .kfa-list-footer-menu .kfa-footer-menu a {
            font-size: 12px;
            font-weight: 700;
            color: #a1a1a1;
            text-decoration: none;
        }

        .knswli-facebook, .knswli-comment, .knswli-view {
            margin: 10px 0;
        }
        .brand-content .k14topic-logo img, .stream.brand-content .k14topic-logo{
            width: auto!important;
        }
        .kmli>a, .k14ti a{
            font-family: "SFD-Medium",Arial;
            font-weight: 400;
        }
        .kmli.home:hover a {
            background: url(https://kenh14cdn.com/web_images/sprite-k14.20.png) -494px 12px no-repeat !important;
        }
        #k14-main-menu-wrapper-sticky-wrapper.is-sticky .kmli.home>a {
            background: url(https://kenh14cdn.com/web_images/sprite-k14.20.png) top left no-repeat !important;
            background-size: 280px !important;
        }
        .itembigstory .knswli-time {
            top: 6px;
        }
        .verticalThumb.itembigstory .knswli-meta{
            display: flex;
            align-items: end;
            position: relative;
            gap: 5px;
        }
        .verticalThumb.itembigstory .knswli-time:before{
            display: none;
        }
        .img-resize {
            display: block;
            position: relative;
            height: max-content;
            padding-top: 0!important;
        }
        .img-resize:before {
            padding-bottom: 62.5%;
            content: "";
            display: block;
        }
        .img-resize img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            margin: auto;
            background-size: cover;
            background-position: center;
            object-fit: cover;
        }
         .verticalThumb .img-resize:before {
            padding-bottom: 133.5%;
            content: "";
            display: block;
        }

    

    body {
        min-width: 1040px !important;
    }

    .kenh14-body-wrapper .adm-mainsection .kbw-background .kbw-content .wfull {
        width: 1040px !important;
    }

    .kenh14-body-wrapper .adm-mainsection .kbw-background .detail-container-full .wfull {
        width: auto !important;
    }

    @media(max-width: 1024px) {
        .knd-wrapperv2+div {
            right: -343px !important;
        }

        .kenh14-body-wrapper .adm-mainsection .kbw-background .kbw-content .kbwc-body {
            display: flex !important;
            justify-content: space-between;
            width: 1040px !important;
        }

        .adm-rightsection {
            order: 1;
        }
    }


            .toolbar-search-wrapper {
                display: flex;
            }
            .toolbar-right {
                display: flex;
            }
            .thread-top-item {
                display: block;
            }
            .thread-top-item img {
                display: block;
                height: 100%;
                width: auto;
            }
            .kmli-menu-expand-wrapper {
                max-height: calc(100vh - 135px);
                overflow-y: scroll;
            }
        

.knew-menu-tuyenchuyende {
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
}

.knew-menu-tuyenchuyende .flex {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.knew-menu-tuyenchuyende .flex .title {
    font-family: SFD-Semibold;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.knew-menu-tuyenchuyende .flex .see-more {
    display: block;
    background: #EEEEEE;
    border-radius: 100px;
    padding: 3px 15px;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #666666;
}

.knew-menu-tuyenchuyende .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.knew-menu-tuyenchuyende a.item img {
    height: 25px;
}

.knew-menu-danhsachsukien {
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
}

.knew-menu-danhsachsukien .flex {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.knew-menu-danhsachsukien .flex .title {
    font-family: SFD-Semibold;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.knew-menu-danhsachsukien .list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.knew-menu-danhsachsukien a.item {
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.knew-menu-danhsachsukien a.item img {
    height: 25px;
}


    .tem-focus2 {
        min-height: 261px;
    }
    .layout__loading_item {
        width: 100%;
        flex-wrap: wrap;
        gap: 26px;
        display: flex;
    }
    .tem-focus2 .box-stream-load.fb-loading-wrapper {
        display: block !important;
        max-height: 258px;
        overflow: hidden;
    }

    .layout__loading_item.layout__loading_item3>div {
        width: calc(33.33% - 18px);
    }
    .layout__loading_item .news-image-load {
        height: 188px !important;
    }
    .loading__animation {
        animation-duration: 1.5s !important;
        animation-fill-mode: forwards !important;
        animation-iteration-count: infinite !important;
        animation-name: placeHolderShimmer !important;
        animation-timing-function: linear !important;
        background: #f6f7f8;
        background: linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%);
        background-size: 800px 200px !important;
        position: relative;
    }
    .layout__loading_item .box-stream-content {
        margin-top: 16px;
    }
    .layout__loading_item .news-title-load {
        margin-bottom: 16px;
        height: 15px;
        width: 30%;
    }
    .layout__loading_item .news-sapo-load {
        height: 15px;
        margin-top: 10px;
    }


    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-next,
    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-prev {
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-next.swiper-button-disabled,
    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-prev.swiper-button-disabled {
        opacity: 0.5;
    }
    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-next {
        border-radius: 6px 0px 0px 6px;
    }
    .klwfn-slide-wrapper.typeSlide2024 .swiper-button-prev {
        border-radius: 0px 6px 6px 0px;
    }
    .klwfn-slide-wrapper.typeSlide2024 .klwfnswn-title {
        margin-bottom: 8px;
    }
    .klwfn-slide-wrapper.typeSlide2024 .klwfnswn-title a {
        font-size: 16px;
    }
    .klwfn-slide-wrapper.typeSlide2024{
        margin-bottom: 30px;
    }


        .wf-sfdbold-n4-active .kds-new-stream-wrapper .list-dangchuy .klwfnl-title a{
            color: #EEEEEE;
        }
    
div.kmli-menu-expand-wrapper{width: 1903px;;}
div.kbh-wca-gala-toggle.fr.pre-live{display: none;;}
iframe{width: 100%; border: none; height: 450px; margin-top: 20px;;}
div{height: 0px;}
div{display: flex; width: 1040px; gap: 20px;;}
div{flex: 1;}
div.knswli.need-get-value-facebook.clearfix[role="article"]{margin-right: 20px;}
div.knswli.need-get-value-facebook.clearfix[role="article"]{margin-right: 20px;}
div.brand-content.stream.k14topic-sapo{display: inline-block;;}
div{width: 300px; flex-shrink: 0;;}
div.backto_school-decumar{position: relative;;}
div{position: absolute; top: 407px; right: 0;;}
div{height: 0px;}
div.fb-page.fr{width: 500px;;}