@font-face {
  font-family: "Inter";
  src: url("./inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: u+0100-02ba,u+02bd-02c5,u+02c7-02cc,u+02ce-02d7,u+02dd-02ff,u+0304,u+0308,u+0329,u+1d00-1dbf,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: u+0100-02ba,u+02bd-02c5,u+02c7-02cc,u+02ce-02d7,u+02dd-02ff,u+0304,u+0308,u+0329,u+1d00-1dbf,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: u+0100-02ba,u+02bd-02c5,u+02c7-02cc,u+02ce-02d7,u+02dd-02ff,u+0304,u+0308,u+0329,u+1d00-1dbf,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  unicode-range: u+0100-02ba,u+02bd-02c5,u+02c7-02cc,u+02ce-02d7,u+02dd-02ff,u+0304,u+0308,u+0329,u+1d00-1dbf,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff;
  font-display: swap;
}
